{% extends "layout.html" %}
{% block content %}
<div id="quotes-content">
<div class="quote-browser" id="quote-browser-top">
{% if next %}
<a href="/{{page}}?start={{ prev }}" class="prev-page">← Previous Page</a>
<a href="/{{page}}?start={{ next }}" class="next-page">Next Page →</a>
{% endif %}
</div>
<h2>
{% if title %}
{{title}}
{%else%}
Quote Browser
{% endif %}
</h2>
{%include 'quotes_content.html' %}
<div class="quote-browser" id="quote-browser-bottom">
{% if prev %}
<a href="/{{page}}?start={{ prev }}" class="prev-page">← Previous Page</a>
<a href="/{{page}}?start={{ next }}" class="next-page">Next Page →</a>
{%endif%}
</div>
</div>
{% endblock %}
