{% extends "layout.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<h2>
{% if title %}
{{title}}
{%else%}
    Search for Quotes
{% endif %}
</h2>

<div id="quotes-content">
<div class="quote-browser" id="quote-browser-top">
{% if next %}
<a href="/{{page}}?start={{ prev }}&query={{query}}" class="prev-page">← Previous Page</a>
<a href="/{{page}}?start={{ next }}&query={{query}}" class="next-page">Next Page →</a>
{% endif %}
</div>
<div id="search-form">
<form method="get" action="/search"> 
<div id="query-container"> 
<label for="query-field">Find:</label> 
<input name="query" value="{{query}}" id="query-field" accesskey="s"/> 
</div> 
<div id="submit-container"> 
<input type="submit" value="Go!" id="submit-button"/> 
</div> 
</form> 
</div>

{% if quotes %}
{%include 'quotes_content.html' %}
<div class="quote-browser" id="quote-browser-bottom">
{% if prev %}
<a href="/{{page}}?start={{ prev }}&query={{query}}" class="prev-page">← Previous Page</a>
<a href="/{{page}}?start={{ next }}&query={{query}}" class="next-page">Next Page →</a>
{%endif%}
</div>
{%endif%}
</div>
{% endblock %}
