<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>VT Bash</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link rel="stylesheet" type="text/css" href="/css/default.css"/>
<link rel="stylesheet" type="text/css" href="/css/styles/default.css"/>
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" type="text/css" href="/css/styles/grayscale.css"/> -->
<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojo/dojo.xd.js" type="text/javascript"></script> 
<script type="text/javascript" src="/js/rating.js"></script>
</head>
<body>
<div id="header">
<h1 id="title"></h1>
<ul id="navigation">
    <li class="nav-item"><a></a></li>
</ul>
</div>
<div id="content"> 
	<div id="welcome-message-container">
		<div id="welcome-message">
			<h2 id="page-title">
			</h2>
                        <span id="motd"></span>
		</div>
	</div>
	<div id="news-display-container">
		<div id="news-display">
			<h2 id="news-title">
			</h2>
			<ul id="news-list">
				<li>
					<div class="news-text"></div>
					<p class="news-footer">&mdash;<span id="author"></span>,
                                            <span id="date"></span>
                                            <a class="news-edit">edit</a>
                                            <a class="news-remove">remove</a>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div id="start-page-end"></div>
</div>
</div>
</body>
</html> 