<div id="login-box">
<h2> 
Please Log In
</h2> 
<div id="login-form"> 
<form method="post" action="/login"> 
<div id="user-name-container"> 
<label for="user-name-field">User Name:</label> 
<input name="username" id="user-name-field" accesskey="u"/> 
</div> 
<div id="password-container"> 
<label for="password-field">Password:</label> 
<input type="password" name="password" id="password-field" accesskey="p"/> 
</div> 
<div id="submit-container"> 
<input type="submit" value="Log In" id="login-button"/> 
</div> 
</form> 
</div>
